body, html {
    /* background-color: rgb(255, 199, 64); */
    background-color: rgb(64, 188, 255);
    font-family: "Open Sans", Arial;
    font-size: 1.2em;
  }
  
  form {
    line-height: 36px;
  }
  
  h2 {
    font-size: 1.3em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
  }
  
  input[type="text"], input[type="number"] {
    min-height: 15px;
    border-radius: 5px;
    border:1px solid #090909;
  }
  
  input[type="radio"] {
    margin-left: 12px;
  }
  
  #main {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    height: 80vh;
    border-radius: 15px;
    margin: 2% 10%;
    overflow: auto;
    border:3px solid #090909;
  }
  
  #story {
    padding: 0 3%;
  }
  
  #top {
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;
    border-radius: 15px;
    border:3px solid #090909;
  }
  
  #top img {
    display: block;
    width: 35%;
    margin: 0 auto;
    
  }
  
  .italics {
    font-style: italic;
  }
  
  .word {
    font-weight: bold;
    text-decoration: underline;
  }

  .storyButton {
    display: block;
    width: 250px;
    height: 60px;
    background-color: rgb(255, 213, 0);
    margin: 10px auto;
    font-size: 1.2em;
    border-radius: 10px;
    border:2px solid #090909;
  }

  .storyButton:hover {
    background-color: rgb(64, 188, 255);;
  }

  .storyButton2 {
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: rgb(255, 213, 0);
    margin: 5px 50px;
    padding-top: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    border:2px solid #090909;
  }

  .storyButton2:hover {
    background-color: rgb(64, 188, 255);;
  }
  